/*Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.eot');
    src: url('./assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('./assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Bold.eot');
    src: url('./assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('./assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Light.eot');
    src: url('./assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('./assets/fonts/Montserrat-Light.woff') format('woff'),
        url('./assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



html,
body {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header */
.header__wrapper {
    display:flex;  
    justify-content: space-between;
    align-items: center;
    height:86px; 
}
.header__navigation ul {
    display:flex; 
}
.header__navigation-item {
    margin: 0 15px; 
    font-size:1.2rem; 
    font-weight:bold; 
}